body{
	margin: 0;
	font-family: 'Josefin Sans';
	height: 100%;
	position: relative;
}
/*setting CSS variables*/
:root {
	--header-height: 70px;
	--footer-height: 50px;
	--homepage-content-header: 120px;
}

/*fixed navbar/header on scroll*/
header{
	position: sticky;
	top: 0;
}

/*styling navbar and navbar links*/
.navcenter{
	display: flex;
	align-items: center;
}
.navheader{
	background-color: #FF9945;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}
.navlinks{
	position: absolute;
	top: calc(var(--header-height));
	display: flex;
	flex-direction: column;
	max-height: 0;
	width: 100%;
	overflow: hidden;
	transition: 0.5s ease-in-out max-height;
}
.navlink:first-child{
	border-top: 2px solid white;
}

/* searchbar */
.search{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	transition: 0.5s ease-in-out height;
	background-color: #FFC76E;
}
.search i{ /*search icon*/
	margin-right: 1rem;
	margin-left: 1rem;
}
.search input{
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
	border-radius: 1rem;
	border: 2px solid #FF9945;
	font-size: 1rem;
	font-family: 'Josefin sans';
}
.search input:focus{
	outline: none;
}

/*Making navbar responsive*/
.nav-btn{
	padding: 0.15rem 0.75rem;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #FF9945;
	margin-right: 20px;

}
.show-links{ /*javascript toggle dropdown menu*/
	max-height: 500px;
	width: 100%;
}
.nav-btn:hover{
	color: white;
	background-color: #FFB43F;
}
.nav-btn i{
	font-size: 1.15rem;
	color: #FFC76E;
}
.navlink{
	display: block;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	border-bottom: 2px solid white;
	color: white;
	background-color: #FFC76E;
	transition: 0.2s;
	z-index: 1;
}
.navlink:hover{
	color: #FFC76E;
	background-color: white;
}

/*styling title of website and logo*/
.title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.title-logo{
	height: 70px;
}
.title h3 a{
	padding: 1px 20px;
	color: white;
	letter-spacing: 3px;
	font-size: 40px;
	text-decoration: none;
}

/*header image below navbar*/
.page-content-header{
	height: var(--homepage-content-header);
	position: relative;
	transition: 0.3s ease-in-out opacity;
}
.page-content-header:before{
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url("pumpkin-background.jpg");
	background-size: cover;
	background-repeat: none;
	background-position: top center;
	z-index: -1;
}
.page-content-header:hover{
	opacity: 0.8;
}

/*homepage main content*/
.homepage-content-container{	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
}
.homepage-content{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80vw;
	max-width: 450px;
	min-height: calc(100vh - (var(--header-height) + var(--footer-height) + var(--homepage-content-header)));
}
.homepage-content p{
	position: relative;
	
	color: black;
	font-size: 32px;
}	

/*general page content*/
.page-content-container{
	background-color: antiquewhite;
	min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.page-content{
	padding: 1em;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	row-gap: 1rem;
	justify-items: center;
}

.pumpkin-card{
	display: block;
	justify-content: center;
	align-items: flex-start;
	width: 340px;
	height: auto;
	max-height: 500px;
	text-align: center;
}

.pumpkin-img{
	width: 100%;
	max-width: 300px;
	height: auto;
	padding-top: 1rem;
	transition: transform 0.3s;
}

.pumpkin-img:hover{
	transform: scale(1.1);
	transition: transform 0.3s;
}

.pumpkin-card p{
	font-size: 24px;
}

/*footer*/
.page-footer{
	display: inline-flex;
	align-items: center;
	background-color: black;
	width: 100%;
	height: var(--footer-height);
	bottom: 0;
}
.page-footer p{
	margin-left: 15px;
	color: white;
}

footer{
	position: sticky;
}

@media screen and (min-width: 1500px){
	.nav-btn{
		display: none;
	}
	.navlink{
		padding: 10px 15px;
		margin-right: 1em;
		border: none;
		border-radius: 3rem;
		white-space: nowrap;
	}
	.navlink:first-child{
		border: none;
	}
	.navlinks{
		position: relative;
		top: 0;
		padding-left: 30px;
		padding-right: 30px;
		overflow: visible;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.search{
		background: none;
	}
} 

@media screen and (min-width: 700px){
	.homepage-content{
		max-width: 700px;
	}

}
